---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  lang: string;
  }
const { title } = Astro.props;
const { lang } = Astro.props;
---

<html lang={lang} class="scroll-smooth">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="alternate" hreflang="es" href="https://tusitio.com/es" />
    <link rel="alternate" hreflang="en" href="https://tusitio.com/en" />

    <link rel="canonical" href="https://tusitio.com/" />
    <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

    <meta name="description" content="Bienvenido a nuestro sitio web corporativo. Ofrecemos servicios de alta calidad para satisfacer tus necesidades empresariales. Descubre cómo podemos ayudarte a alcanzar el éxito." />
    <meta name="keywords" content="servicios empresariales, soluciones corporativas, éxito empresarial, calidad, innovación" />
</head>

    <body class="bg-gray-50 text-gray-800">

        <Navbar  lang={lang} />

        <main>
            <slot />
        </main>

        <Footer  lang={lang}  />

    </body>
</html>